<div
  class="d-flex flex-column justify-content-center align-items-center fs-3 fw-bold"
>
  <p>
    {{ "test.text" | translate }}
  </p>
  <div id="line"><hr /></div>

  <ng-container *ngIf="listQuestion.length == 0">
    <form class="w-80 h-50 my-4">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Category Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          class="w-100"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            (onSelectionChange)="getCategory(option)"
            [value]="option.unitName + ' - ' + option.categoryName"
          >
            {{ option.unitName }} - {{ option.categoryName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button class="btn btn-primary my-2" (click)="startStudy()">Iniciar</button>
  </ng-container>

  <ng-container *ngIf="listQuestion.length > 0">
    <button class="btn btn-primary my-2" (click)="exit()">Salir</button>
    <form
      autocomplete="off"
      [formGroup]="myForm"
      class="w-60 mb-5"
      (ngSubmit)="send()"
    >
      <div
        *ngFor="let question of listQuestion; let i = index"
        class="w-100 d-flex flex-column stify-content-start my-4"
      >
        <h3>{{ i + 1 }}º {{ question.statement }}</h3>
        <h4 *ngIf="question.help != ''">
          {{ "tableTitles.help" | translate }}: {{ question.help }}
        </h4>

        <div class="d-flex flex-row align-items-center">
          <div class="w-70">
            <input
              [id]="'r' + i + '1'"
              type="radio"
              [value]="question.answers[0].response"
              [formControlName]="'answerCorrect' + i"
              class="me-3"
            />{{ question.answers[0].response }}
            <ng-container *ngIf="question.answers[0].furigana != ''">
              - {{ question.answers[0].furigana }}
            </ng-container>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <div class="w-70">
            <input
              [id]="'r' + i + '2'"
              type="radio"
              [value]="question.answers[1].response"
              [formControlName]="'answerCorrect' + i"
              class="me-3"
            />{{ question.answers[1].response }}
            <ng-container *ngIf="question.answers[1].furigana != ''">
              - {{ question.answers[1].furigana }}
            </ng-container>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <div class="w-70">
            <input
              type="radio"
              [id]="'r' + i + '3'"
              [value]="question.answers[2].response"
              [formControlName]="'answerCorrect' + i"
              class="me-3"
            />{{ question.answers[2].response }}
            <ng-container *ngIf="question.answers[2].furigana != ''">
              - {{ question.answers[2].furigana }}
            </ng-container>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center">
          <div class="w-70">
            <input
              [id]="'r' + i + '4'"
              type="radio"
              [value]="question.answers[3].response"
              [formControlName]="'answerCorrect' + i"
              class="me-3"
            />{{ question.answers[3].response }}
            <ng-container *ngIf="question.answers[3].furigana != ''">
              - {{ question.answers[3].furigana }}
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngIf="this.score > -1">
        <p class="float-start" >
          {{ "test.result" | translate }}: {{ this.score }}/10
        </p>
      </ng-container>    
      <button class="btn btn-primary float-end" [disabled]="disableButton" type="submit">
        {{ "form.finalize" | translate }}
      </button>
    </form>
  </ng-container>
</div>
