<div
  class="d-flex flex-column justify-content-center align-items-center fs-3 fw-bold"
>
  <p>
    {{ "test.text" | translate }}
  </p>
  <div id="line"><hr /></div>

  <ng-container *ngIf="listQuestion.length == 0">
    <form class="w-80 h-50 my-4">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Category Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          class="w-100"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            (onSelectionChange)="getCategory(option)"
            [value]="option.unitName + ' - ' + option.categoryName"
          >
            {{ option.unitName }} - {{ option.categoryName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button class="btn btn-primary my-2" (click)="startStudy()">Iniciar</button>
  </ng-container>

  <ng-container *ngIf="listQuestion.length > 0">
    <button class="btn btn-primary my-2" (click)="exit()">Salir</button>
    <form autocomplete="off" [formGroup]="myForm" class="w-60" (ngSubmit)="send()">
      <div
        *ngFor="let question of listQuestion; let i = index"
        class="w-100 d-flex flex-column stify-content-start my-4"
      >
        <h3>{{ i + 1 }}º {{ question.statement }}</h3>
        <div class="d-flex flex-row align-items-center">
            <input
            type="radio"
            [value]="question.answers[0].response"
            [formControlName]="'answerCorrect'+i"
            class="me-3"
          />{{ question.answers[0].response }}
        </div>
        <div class="d-flex flex-row align-items-center">
        <input
          type="radio"
          [value]="question.answers[1].response"
          [formControlName]="'answerCorrect'+i"
          class="me-3"
        />{{ question.answers[1].response }}
    </div>
    <div class="d-flex flex-row align-items-center">
        <input
          type="radio"
          [value]="question.answers[2].response"
          [formControlName]="'answerCorrect'+i"
          class="me-3"
        />{{ question.answers[2].response }}
    </div>
    <div class="d-flex flex-row align-items-center">
        <input
          type="radio"
          [value]="question.answers[3].response"
          [formControlName]="'answerCorrect'+i"
          class="me-3"
        />{{ question.answers[3].response }}
    </div>
      </div>
    </form>
  </ng-container>
</div>
