<div>
  <form
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="save()"
    enctype="multipart/form-data"
  >
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input
          type="email"
          class="form-control"
          placeholder="example@gamil.com"
          formControlName="email"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Full Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="fullName" />
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Nickname</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="nickname" />
      </div>
    </div>

    <div class="mb-3 row">
      <ng-content
        *ngIf="
          this.userMock.urlImage != '' ||
            this.userMock.urlImage != undefined ||
            this.userMock.urlImage != null;
          then thenBlock;
          else elseBlock
        "
      ></ng-content>
      <ng-template #thenBlock>
         <img [src]="imagen" class="img-thumbnail w-25" /> 
      </ng-template>
      <ng-template #elseBlock>
        <img
          src="../../../../assets/img/profileDefault.png"
          class="img-thumbnail w-25"
        />
      </ng-template>
      <label class="col-sm-3 col-form-label">Image</label>
      <div class="col-sm-9">
        <input 
        #fileInput
          type="file"
          class="form-control"
          accept="image/*"
          formControlName="urlImage"
        />
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Birthday</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" formControlName="birthday" />
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">City</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="city" />
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Role</label>
      <div class="col-sm-9">
        <select
          class="form-select"
          formControlName="roles"
          [(ngModel)]="this.userMock.roles[0]"
        >
          <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <!-- [disabled]="myForm.invalid" -->
        <button class="btn btn-primary float-end" type="submit">Guardar</button>
      </div>
    </div>
  </form>
</div>
<!-- <div mat-dialog-actions>
     <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> 
  </div> -->
