<app-load *ngIf="load"></app-load>
<form
  autocomplete="off"
  [formGroup]="myForm"
  (ngSubmit)="save()"
  enctype="multipart/form-data"
>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{
      "form.email" | translate
    }}</label>
    <div class="col-sm-9">
      <input
        type="email"
        class="form-control"
        placeholder="example@gamil.com"
        formControlName="email"
      />
      <span *ngIf="fieldIsRequired('email')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="emailIsValid('email')" class="form-text text-danger">
        {{ "form.emailIsValid" | translate }}
      </span>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{
      "form.password" | translate
    }}</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" formControlName="password" />
      <span *ngIf="fieldIsRequired('password')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="passwordIsValid('password')" class="form-text text-danger">
        {{ "form.passwordIsValid" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">
      {{ "form.fullname" | translate }}</label
    >
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="fullName" />
      <span *ngIf="fieldIsRequired('fullName')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="maxLengthdIsValid('fullName')" class="form-text text-danger">
        {{ "form.maxLengthdIsValid" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{
      "form.nickname" | translate
    }}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="nickname" />
      <span *ngIf="fieldIsRequired('nickname')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="maxLengthdIsValid('nickname')" class="form-text text-danger">
        {{ "form.maxLengthdIsValid" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-5 col-form-label">{{
      "form.image" | translate
    }}</label>
    <img
      [src]="
        data.urlImage ? image : '../../../../assets/img/profileDefault.png'
      "
      class="img-thumbnail w-25 col-sm-4 p-1"
    />
    <div class="col-sm-2 d-flex align-items-center">
      <a class="btn btn-primary btn-sm" (click)="deleteImage()">
        <mat-icon>delete_forever</mat-icon>
      </a>
    </div>
    <div class="col-sm-12">
      <input
        #fileInput
        type="file"
        class="form-control"
        accept="image/*"
        formControlName="urlImage"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">
      {{ "form.birthday" | translate }}</label
    >
    <div class="col-sm-9">
      <input type="date" class="form-control" formControlName="birthday" />
      <span *ngIf="fieldIsRequired('birthday')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{ "form.city" | translate }}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="city" />
      <span *ngIf="fieldIsRequired('city')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="maxLengthdIsValid('city')" class="form-text text-danger">
        {{ "form.maxLengthdIsValid" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row" *ngIf="this.rol == 'ADMIN'">
    <label class="col-sm-3 col-form-label">{{ "form.rol" | translate }}</label>
    <div class="col-sm-9">
      <select
        class="form-select"
        formControlName="roles"
        [(ngModel)]="
          this.data.roles !== undefined ? this.data.roles[0] : roles[0]
        "
      >
        <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
      <div
        class="btn btn-primary btn-sm my-3 d-flex float-start"
        (click)="showStaticsUser()"
      >
        <span>{{ "header.statistics" | translate }}</span>
        <mat-icon> bar_chart</mat-icon>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary float-end"
        [disabled]="validSubmit()"
        type="submit"
      >
        {{ "form.save" | translate }}
      </button>
      <button class="btn btn-secondary float-start" [mat-dialog-close]="false">
        {{ "form.close" | translate }}
      </button>
    </div>
  </div>
</form>
