<app-load *ngIf="load"></app-load>
<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{
      "category.unit" | translate
    }}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="unitName" />
      <span *ngIf="fieldIsRequired('unitName')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span *ngIf="maxLengthdIsValid('unitName')" class="form-text text-danger">
        {{ "form.maxLengthdIsValid" | translate }}
      </span>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">{{
      "category.name" | translate
    }}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="categoryName" />
      <span
        *ngIf="fieldIsRequired('categoryName')"
        class="form-text text-danger"
      >
        {{ "form.fieldIsRequired" | translate }}
      </span>
      <span
        *ngIf="maxLengthdIsValid('categoryName')"
        class="form-text text-danger"
      >
        {{ "form.maxLengthdIsValid" | translate }}
      </span>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-9 col-form-label">{{
      "category.isQuestion" | translate
    }}</label>
    <div class="col-sm-3">
      <select class="form-select" formControlName="isQuestion">
        <option [value]="true">{{ "category.yes" | translate }}</option>
        <option [value]="false">{{ "category.no" | translate }}</option>
      </select>
      <span *ngIf="fieldIsRequired('isQuestion')" class="form-text text-danger">
        {{ "form.fieldIsRequired" | translate }}
      </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <button
        class="btn btn-primary float-end"
        [disabled]="myForm.invalid"
        type="submit"
      >
        {{ "form.save" | translate }}
      </button>
      <button class="btn btn-secondary float-start" [mat-dialog-close]="false">
        {{ "form.close" | translate }}
      </button>
    </div>
  </div>
</form>
