<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="../../../assets/img/logo.png"
        alt=""
        width="50"
        height="50"
        class="d-inline-block align-text-top"
      />
      Kanpeki
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pag1" routerLinkActive="active"
            >{{'header.statistics' | translate }}</a
          >
        </li>
        <span class="border-end border-2"></span>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pag2" routerLinkActive="active"
            >Usuarios</a
          >
        </li>
        <span class="border-end border-2"></span>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pag2" routerLinkActive="active"
            >Palabras</a
          >
        </li>
        <span class="border-end border-2"></span>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pag2" routerLinkActive="active"
            >Preguntas</a
          >
        </li>
        <span class="border-end border-2"></span>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pag2" routerLinkActive="active"
            >Categorías</a
          >
        </li>
      </ul>
    </div>
    <div
      class="d-flex justify-content-end pointer" (click)="goProfile()">
      <img src="../../../assets/img/profileDefault.png" class="img-thumbnail imgSmall rounded-circle me-5" alt="...">
    </div>
  </div>
</nav>
