<app-load *ngIf="load"></app-load>
<div
  class="d-flex flex-column justify-content-center align-items-center fs-3 fw-bold"
>
  <p>
    {{ "study.text" | translate }}
  </p>
  <div id="line"><hr /></div>

  <ng-container *ngIf="listWords.length == 0">
    <form class="w-80 h-50 my-4">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{ "study.category_Name" | translate }}</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          class="w-100"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            (onSelectionChange)="getCategory(option)"
            [value]="option.unitName + ' - ' + option.categoryName"
          >
            {{ option.unitName }} - {{ option.categoryName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button class="btn btn-primary my-2 d-flex" (click)="startStudy()">
      {{ "form.start" | translate }} <mat-icon>play_arrow</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="listWords.length > 0">
    <button class="btn btn-primary my-2 d-flex" (click)="exit()"> {{ "form.exit" | translate }} <mat-icon>exit_to_app</mat-icon></button>
    <swiper [navigation]="true" class="mySwiper">
      <ng-template swiperSlide *ngFor="let word of listWords">
        <app-card [word]="word"> </app-card>
      </ng-template>
    </swiper>
  </ng-container>
</div>
