<div class="d-flex justify-content-center row row-cols-lg-2">
  <div class="col">
    <!-- <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></canvas> -->
    <app-chart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
    ></app-chart>
  </div>
  <div class="col w-25">
    <canvas
      baseChart
      #chartPie
      [data]="pieChartData"
      [type]="pieChartType"
      [options]="pieChartOptions"
    >
    </canvas>
  </div>
</div>
