<div class="d-flex flex-column align-items-center justify-content-center">
  <p class="fs-3 fw-bold">{{ "about.title" | translate }}</p>
  <p class="fs-5 w-50">{{ "about.content1" | translate }}</p>
  <img src="../../../assets/img/kanpekiteam.jpg" class="img-fluid w-25 mb-3" >
  <p class="fs-5 w-50">{{ "about.content2" | translate }}</p>
  <p class="fs-5 w-50">{{ "about.content3" | translate }}</p>
  <div class="float-start w-50">
    <ul>
      <li>Mari Luz Sánchez Rubio</li>
      <li>Manuel Torres Molina</li>
      <li>Elisa Fernández Cortes</li>
    </ul>
  </div>
</div>
