<div class="row row-cols-2">
  <div class="col">
    <img
      src="../../../assets/img/profileDefault.png"
      class="img-thumbnail imgProfile float-end me-5"
    />
  </div>
  <div class="col">
    <div class="row row-cols-2">
      <div class="col">
        <h4>Nickname</h4>
        <p>Pacolo</p>
      </div>
      <div class="col">
        <h4>FullName</h4>
        <p>Paco Sánchez Escobar</p>
      </div>
      <div class="col">
        <h4>Email</h4>
        <p>example@gmail.com</p>
      </div>
      <div class="col">
        <h4>Birthday</h4>
        <p>05-12-1986</p>
      </div>
      <div class="col">
        <h4>City</h4>
        <p>Córdoba</p>
      </div>
      <div class="col-12">
        <select class="form-select w-75 " >
          <option selected>Open this select menu</option>
          <option value="1" >Español <i class="fa-solid fa-circle-notch"></i></option>
          <option value="2">Inglés <img src="../../../assets/img/flags/gb.svg"></option>
        </select>
        
      </div>
    </div>
  </div>
</div>
