<app-load *ngIf="load"></app-load>
<div class="row row-cols-2" *ngIf="user !== undefined">
  <div class="col">
    <form action=""></form>
    <form autocomplete="off" [formGroup]="myForm" enctype="multipart/form-data">
      <label for="imgProfile" class="float-end pointer">
        <img
          [src]="
            image != null ? image : '../../../assets/img/profileDefault.png'
          "
          id="image"
          class="img-thumbnail imgProfile ms-3 me-4"
        />
      </label>
      <input
        id="imgProfile"
        type="file"
        class="form-control d-none"
        accept="image/*"
        formControlName="urlImage"
        (change)="imgChange($event)"
      />
    </form>
  </div>
  <div class="col">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col">
        <h4>{{ "tableTitles.nickname" | translate }}</h4>
        <p class="wrapText">{{ user.nickname }}</p>
      </div>
      <div class="col">
        <h4>{{ "tableTitles.fullName" | translate }}</h4>
        <p class="wrapText">{{ user.fullName }}</p>
      </div>
      <div class="col">
        <h4>{{ "tableTitles.email" | translate }}</h4>
        <p class="wrapText">{{ user.email }}</p>
      </div>
      <div class="col">
        <h4>{{ "tableTitles.birthday" | translate }}</h4>
        <p class="wrapText">{{ user.birthday }}</p>
      </div>
      <div class="col col-lg-12">
        <h4>{{ "tableTitles.city" | translate }}</h4>
        <p class="wrapText">{{ user.city }}</p>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn btn-magenta bg-magenta text-light dropdown-toggle mb-5 mb-lg-0"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "idiom.language" | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let idiom of languages | keyvalue">
              <button
                class="dropdown-item d-flex justify-content-between align-items-center"
                type="button"
                (click)="changeLanguage(idiom.value)"
              >
                {{ "idiom." + idiom.key | translate | titlecase }}
                <img
                  src="../../../assets/img/flags/{{ idiom.value }}.svg"
                  class="imgSmall"
                />
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn btn-cyanCustom bg-cyanCustom text-light dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "theme.theme" | translate | titlecase }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let theme of themes | keyvalue">
              <button
                class="dropdown-item d-flex justify-content-between align-items-center"
                type="button"
                (click)="changeTheme(theme.key)"
              >
                {{ "theme." + theme.key | translate | titlecase }}
                <img
                  src="../../../assets/img/{{ theme.value }}.svg"
                  class="imgSmall"
                />
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 mt-5">        
      <button class="btn btn-primary d-flex" (click)="openForm()">
        <mat-icon>edit</mat-icon>{{ "btn.edit" | translate }}
      </button>
      </div>
      <div class="col-lg-6 mt-5">
        <button class="btn btn-danger" (click)="logout()">
          {{ "log.logout" | translate }} <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
