@use "sass:map"
@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"

html, body
    width: 100%
    height: 100%

.pointer
    cursor: pointer

.imgProfile
    width: 280px
    height: 280px

.imgSmall
    width: 50px
    height: 50px
    
.wrapText
    overflow-wrap: break-word

$custom-colors: ("magenta":rgb(225, 77, 185), "cyanCustom":#46cddf)
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors)
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value")
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb)
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text")
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg")

.gradient-custom-2
    background: #fccb90
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)

.custom-dialog-container .mat-dialog-container
    padding: 50px

table
    height: 1px

$spacer: 1rem
$spacers: (0: 0, 1: $spacer * .25, 2: $spacer * .5, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3, 6: $spacer * 6, 7: $spacer * 12, 8: $spacer * 24)

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null)

@media (min-width: 768px)
    .gradient-form
        height: 100vh !important

@media (min-width: 769px)
    .gradient-custom-2
        border-top-right-radius: .3rem
        border-bottom-right-radius: .3rem

@import "../node_modules/bootstrap/scss/bootstrap"
