@use "sass:map"
@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"
@import "../node_modules/bootstrap/scss/utilities"
@import "~swiper/css"
@import "~swiper/css/navigation"

html, body, section
    min-height: 100%
    height: auto
    margin: 0

.pointer
    cursor: pointer

.imgProfile
    width: 280px
    height: 280px

.imgSmall
    width: 50px
    height: 50px

.wrapText
    overflow-wrap: break-word

.gradient-custom-2
    background: #fccb90
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)

.custom-dialog-container .mat-dialog-container
    padding: 50px

table
    height: 1px

$custom-colors: ("magenta":rgb(225, 77, 185), "cyanCustom":#46cddf)
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors)
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value")
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb)
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text")
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg")

$spacer: 1rem
$spacers: (0: 0, 1: $spacer * .25, 2: $spacer * .5, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3, 6: $spacer * 6, 7: $spacer * 12, 8: $spacer * 24)

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null)

$utilities: ("w":(property:width,class:w,values:(25: 25%, 40: 40%, 50: 50%, 55: 55%, 60: 60%, 70: 70%, 75: 75%,80: 80%, 85: 85%,90: 90%,95: 95%,100: 100%, auto: auto)))

hr
    border: 0
    clear: both
    display: block
    width: 100%
    background-color: #FFFF00
    height: 1px

#line
    float: left
    width: 80%
    height: 40px

.swiper
    width: 100%
    height: 100%

.swiper-slide
    text-align: center
    font-size: 18px
    background: #fff
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center

    img
        display: block
        height: auto
        max-width: 100%
        object-fit: cover

.true
    background: #33d55b

.false
    background: #e94040

.transparent
    background: #e9404000

.justify-text
    margin: 0
    text-indent: 2rem
    text-align: justify

@media (min-width: 768px)
    .gradient-form
        height: 100vh !important

@media (min-width: 769px)
    .gradient-custom-2
        border-top-right-radius: .3rem
        border-bottom-right-radius: .3rem

@import "../node_modules/bootstrap/scss/bootstrap"
