<app-load *ngIf="load"></app-load>
<div class="px-4">
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary mb-4 d-flex" [disabled]="listUsers.length === 0" (click)="deleteUser()">
      <mat-icon>remove</mat-icon>{{ "btn.remove" | translate }}
    </button>
    <button class="btn btn-primary mb-4 d-flex" (click)="openForm()">
      <mat-icon>add</mat-icon>{{ "btn.add" | translate }}
    </button>
  </div>

  <div *ngIf="listUsers.length > 0; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <app-table
      [tableData]="listUsers"
      [nameFormComponent]="componentForm"
      (propagateFather)="procesaPropagar()"
      (listDeleteElementOut)="listDelete($event)"
    ></app-table>
  </ng-template>
  <ng-template #elseBlock>
    <div class="d-flex justify-content-center">
      <p class="fw-bold">{{ "msg.noUsers" | translate }}</p>
    </div>
  </ng-template>
</div>
